@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  max-width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

.contatos {
  width: max-content;
  margin-top: 32px;
  display: flex;
}

.contatos-item {
  list-style-type: none;
  margin-right: 32px;
  padding: 12px 0px 12px 0px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.contatos-item a {
  text-decoration: none;
  color: #1c1c1c
}

.portfolio {
  display: grid;                    
  grid-template-columns: 3fr 1fr;
  gap: 16px;
}

.projetos {
  height: 1065px;
  overflow-y: scroll;
  scrollbar-width: thin;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projetos-titulo {
  list-style: none;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 40px;
}

.projetos-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.conquistas {
  height: 1065px;  
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.conquistas-titulo {
  text-align: center;
  padding-left: 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.conquistas-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conquistas img {
  max-height: 100px;
  margin-top: 30px;
}



.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f7f7f7;
}

.dark .contatos-item a {
  color: #f7f7f7
}

.dark .projetos {
  color: #1c1c1c;
}

.dark .conquistas {
  color: #1c1c1c;
}

.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  }
  
  ::-webkit-scrollbar-thumb{
  background: #1C1C1C;
  border: 1.8px solid #1C1C1C;
  border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background: #ECF4FF;
  }
  
  ::-webkit-scrollbar-track{
  background: #ECF4FF;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
  margin: 15px 0px;
  }
